# (0) Generate a synthetic static dataset

Generate a synthetic dataset with 
- features X
- temporal features X_ts
- label Y 

Note: data is stored in the folder "../../../data/ts/" + dataset relativ to this directory

In [ ]:
%load_ext autoreload
%autoreload 2

### Define paths

In [ ]:
# which dataset to work on 
dataset_name   = "miiv"

In [3]:
# data specifications 
data_dir            = "../../../data/ts/" + dataset_name + "/fully_observed/"

## Data Generation

In [5]:
from afa.data_modelling.datasets.synthetic_data_generation.data_generator_ts import DataGenerator_ts

In [5]:
data_generator = DataGenerator_ts(
                        data_dir           = data_dir,  
                        dataset_name       = dataset_name , 
                        n_datapts          = 100, 
                        test_size          = 0,
                        n_features_static  = 1,
                        n_features_ts      = 4, 
                        n_timepts          = 5,
                        table_style        = "EAV",
                        compression        = 'gzip',
                        n_classes          = 2)

In [6]:
df_static_train, df_ts_train, df_static_test, df_ts_test  = data_generator.generate_data()

## Load data
Check if data was saved correctly and can be loaded

In [6]:
from afa.data_modelling.datasets.data_loader.data_loader_ts import DataLoader_ts

2023-02-28 11:07:00.319862: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-02-28 11:07:08.541786: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-02-28 11:07:08.541827: I tensorflow/compiler/xla/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2023-02-28 11:07:23.435187: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-02-28 11:07:23.439334: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-02-28 11:07:23.439356: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [4]:
dataset_name = 'miiv'
data_dir = "../../../data/" + dataset_name + '/' #+ "/fully_observed/"

In [ ]:
"""JOSH"""
import pandas as pd

path = '~/Documents/data/miiv/miiv_ts_eav.csv.gz'
df = pd.read_csv(path)
df = df.drop(columns=df.columns[0])
# df = df.rename(columns={'stay_id':'id'})
df.head()

         id             time variable  value
0  30000484  0 days 03:00:00      alb    2.5
1  30001336  0 days 00:00:00      alb    3.3
2  30001446  0 days 01:00:00      alb    1.8
3  30001446  1 days 00:00:00      alb    2.7
4  30001555  0 days 13:00:00      alb    2.7

In [38]:
from afa.data_modelling.datasets.utils_ts import wide_to_eav, check_eav
df_eav = wide_to_eav(df)
print(df.head())
print(check_eav(df_eav))
print(df_eav.columns)

KeyboardInterrupt:

In [1]:
print(check_eav(df))

NameError: name 'check_eav' is not defined

In [41]:
df.to_csv('~/Documents/data/miiv/miiv_ts_eav.csv.gz', compression='infer', columns=df.columns, index=False)

In [39]:
data_file          = data_dir + dataset_name + '_static.csv.gz' 
temporal_data_file = data_dir + dataset_name + '_ts_wide.csv.gz' 
superfeature_mapping_file = None

data_file =          '../../../data/miiv/miiv_static.parquet'
temporal_data_file = '../../../data/miiv/miiv_ts_wide.parquet'

data_loader = DataLoader_ts(data_file                  = data_file,
                            temporal_data_file         = temporal_data_file,
                            superfeature_mapping_file  = superfeature_mapping_file )

dataset = data_loader.load(temporal_only_nrows=10000, temporal_is_wide=True)

In [40]:
# visualize pandas dataframe for static data: 
dataset.temporal_data

,id,time,label,alb,alp,alt,ast,be,bicar,bili,...,phos,plt,po2,ptt,resp,sbp,temp,tnt,urine,wbc
0,30000153,0 days 00:00:00,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14.0,124.5,36.000000,NaN,280.0,NaN
1,30000153,0 days 01:00:00,False,NaN,NaN,NaN,NaN,-3.0,NaN,NaN,...,NaN,NaN,242.0,NaN,16.0,141.0,37.277778,NaN,45.0,NaN
2,30000153,0 days 02:00:00,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,NaN
3,30000153,0 days 03:00:00,False,NaN,NaN,NaN,NaN,-4.0,19.0,NaN,...,3.1,173.0,215.0,25.3,14.0,116.0,37.500000,NaN,50.0,17.0
4,30000153,0 days 04:00:00,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20.0,111.0,NaN,NaN,45.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,30031755,4 days 07:00:00,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16.0,80.0,NaN,NaN,NaN,NaN
9996,30031755,4 days 08:00:00,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16.0,85.0,35.888889,NaN,NaN,NaN
9997,30031755,4 days 09:00:00,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15.0,75.5,NaN,NaN,NaN,NaN
9998,30031755,4 days 10:00:00,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16.5,77.5,NaN,NaN,0.0,NaN
9999,30031755,4 days 11:00:00,False,NaN,NaN,NaN,NaN,NaN,23.0,NaN,...,4.7,NaN,NaN,NaN,15.0,81.5,NaN,NaN,NaN,NaN

## Define problem
Check if problem definition works, see more in the `preparation01` tutorial

In [41]:
from afa.data_modelling.problem.problem_ts import ProblemMaker_ts

In [42]:
# define problem specifications
label_name = 'Y_ts'
label_name = 'label'
problem = 'online'
treatment = None
max_seq_len = 10

problem_maker = ProblemMaker_ts(    problem    = problem, 
                                    label      = [label_name], 
                                    treatment  = treatment, 
                                    max_seq_len = max_seq_len)

dataset  = problem_maker.fit_transform(dataset)

100%|██████████| 208/208 [00:00<00:00, 955.13it/s]
100%|██████████| 208/208 [00:00<00:00, 442.01it/s]
100%|██████████| 208/208 [00:00<00:00, 984.28it/s]

In [53]:
from pprint import pprint
# check if features/superfeatures/labels etc have been correctly assigned 
pprint(dataset.feature_name, compact=True, width=180)

{'data': ['age', 'sex', 'height', 'weight'],
 'label': ['label'],
 'super_data': ['sex', 'weight', 'age', 'height'],
 'super_temporal': ['mcv', 'crp', 'o2sat', 'pco2', 'sbp', 'bili_dir', 'hgb', 'bicar', 'bun', 'fio2', 'fgn', 'cl', 'lact', 'temp', 'bili', 'ptt', 'methb', 'mchc', 'inr_pt', 'map',
                    'na', 'k', 'phos', 'wbc', 'glu', 'po2', 'ck', 'alb', 'resp', 'urine', 'alt', 'ph', 'mg', 'crea', 'mch', 'lymph', 'ca', 'plt', 'tnt', 'be', 'cai', 'alp', 'ckmb',
                    'neut', 'bnd', 'dbp', 'hr', 'ast'],
 'temporal': ['alb', 'alp', 'alt', 'ast', 'be', 'bicar', 'bili', 'bili_dir', 'bnd', 'bun', 'ca', 'cai', 'ck', 'ckmb', 'cl', 'crea', 'crp', 'dbp', 'fgn', 'fio2', 'glu', 'hgb', 'hr',
              'inr_pt', 'k', 'lact', 'lymph', 'map', 'mch', 'mchc', 'mcv', 'methb', 'mg', 'na', 'neut', 'o2sat', 'pco2', 'ph', 'phos', 'plt', 'po2', 'ptt', 'resp', 'sbp', 'temp',
              'tnt', 'urine', 'wbc'],
 'treatment': None}

## Explain the synthetic data generation process
Store information in reports folder in latex / markdown format

In [45]:
explanation_file = data_dir + 'synthetic_data_report'
data_generator.explain(file= explanation_file + '.md'  , format='markdown')
# data_generator.explain(file= explanation_file + '.tex'  , format='latex')

NameError: name 'data_generator' is not defined